<div class="mb-3 container">
    <h1 class="text-center text-white bg-primary">Please Complete the Verification!</h1>
    <div class="text-center">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="text-white">Redirecting to SignIn...</p>
        <p class="text-white">If not redirected,     <button type="submit" class="btn btn-outline-success">Click here</button> to go to sign in.</p>
    </div>
</div>